.books-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
}

.books-list li {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.cart-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-list li {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  text-align: center;
}

.add-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-book button {
  width: 100px;
}